h1 {
  background-color: green;
}

div {
  background-color: rgb(28, 186, 200);
  opacity: 0.3;
}
.special-paragraph {
  background-color: yellow;
  border: 2px solid red;
  border-radius: 5px;
}
